.header-img{
    width: 100%;
    height: 360px;
    position: absolute;
    left: 0;
}
.header-container {
    position: relative;
    height: 500px;
}
.info-div {
    position: absolute;
    left: 22%;
    top: 40px;
    padding: 25px;
    background-color: #ffb100;
    width: 48%;
}
.primary-btn {
    padding: 10px;
    background-color: #ffb100;
    border: none;
}
.btn-container {
    position: absolute; 
    right: 26%;
    top: 135px;
}
.profile-container {
    background-color: #fff;
    position: absolute;
    width: 53%;
    top: 220px;
    left: 22%;
    height: 200px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-top: -67px;
}

div p, span {
    font-size: 14px;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.yellow {
  color: #ffb100;
}

.top-spacing {
  margin-top: -15px;
}