/* BLUE - #4F95BD */
/* GREEN - #21CEB5 */

.App {
  width: 90%;
  margin-left: 5%;
  /* background-color: #f1f1f1; */
  height: inherit;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}